<section>
    <div>
        <h2>Add products</h2>
    </div>
    <div>
        <form action="">
            <label for="">product name</label>
            <input type="text">
            <label for="">Catagory</label>
            <input type="text">
            <label for="">stoke</label>
            <input type="number">
            <label for="">Price</label>
            <input type="number">
            <label for="">Description</label>
            <ul>
                <li><input type="text"></li>
                <li><input type="text"></li>
                <li><input type="text"></li>
                <li><input type="text"></li>
                <li><input type="text"></li>
            </ul>
            <label for="">image</label>
            <input type="file">
            <label for="">subimg</label>
            <input type="file">
            <input type="file">
            <input type="file">
            <button type="submit">submit</button>
        </form>
    </div>
</section>