

<section id="page-header" class="about-header">
    <h2>#Add product</h2>
    {{!-- <p>LEAVE A MESSAGE,We love to hear from you!</p> --}}
</section>

<section class="section-p2">
    <div class="section-m1 main">
        <form class="addform">
            <div class="s1">
            <div class="s2">
            <label for="">product name</label>
            <input type="text">
            <label for="">Catagory</label>
            <select name="" id="">
                <option value="">select</option>
                <option value="">smartphone</option>
                <option value="">laptop</option>
            </select>
            <label for="">brand</label>
            <input type="text">
            <label for="">stoke</label>
            <input type="number">
            <label for="">Price</label>
            <input type="number">
            </div>
            <div class="s3">
            <label for="" class="des">Description</label>
            <ul class="wd">
                <li><input type="text"></li>
                <li><input type="text"></li>
                <li><input type="text"></li>
                <li><input type="text"></li>
                <li><input type="text"></li>
            </ul>
            </div>
            </div>
            <div class="addimg">
            <label for="">image</label>
            <input type="file">
            <label for="">subimage</label>
            <input type="file">
            <input type="file">
            <input type="file">
            </div>
            <div class="subbtn">
            <button type="submit">submit</button>
            </div>
        </form>
    </div>
</section>