<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/headerstyle.css">
<link rel="stylesheet" href="/stylesheets/admin-page-style.css">


    
<div class="container">
    <div class="main">
    <div class="topbar">
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="search">
            <label for="">
                <input type="text" placeholder="Search Here">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
        </div>
        <div class="user">
            <img src="/images/login-images/prof1.svg" alt="">
        </div>
    </div>

    <section id="page-header" class="about-header">
        <h2>Add product</h2>
    </section>

    <section class="section-p2">
        <div class="section-m1 main1">
            <form class="addform" action="/admin/add-product" method="post" enctype="multipart/form-data">
                <div class="s1">
                    <div class="s2">
                        <label for="">product name</label>
                        <input type="text" name="Name" required>
                        <label for="">Category</label>
                        <select id="" name="Category" required>
                            <option value="select">select</option>
                            {{#each categories}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label for="">brand</label>
                        <select id="" name="brand" required>
                            <option value="select">select</option>
                            {{#each brands}}
                            <option value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                        <label for="">stoke</label>
                        <input type="number" name="Stoke" required>
                        <label for="">Price</label>
                        <input type="number" name="Price" required>
                        <label for="">Featured</label>
                        <select id="" name="Featured" required>
                            <option value="select">select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="s3">
                        <label for="" class="des">Description</label>
                        <ul class="wd">
                            <li><input type="text" name="Description1"></li>
                            <li><input type="text" name="Description2"></li>
                            <li><input type="text" name="Description3"></li>
                            <li><input type="text" name="Description4"></li>
                            <li><input type="text" name="Description5"></li>
                        </ul>
                    </div>
                </div>
                <div class="addimg">
                    <label for="">image</label>
                    <input type="file" name="image" required>
                    <label for="">subimage</label>
                    <input type="file" name="image" required>
                    <input type="file" name="image" required>
                    <input type="file" name="image" required>
                </div>
                <div class="subbtn">
                    <button type="submit">submit</button>
                </div>
            </form>
        </div>
    </section>
    </div>
</div>


<script>
    function toggleMenu() {
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');
        toggle.classList.toggle('active')
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }
</script>