<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>No</td>
                <td>Image</td>
                <td>Catagory</td>
                <td>Product</td>
                <td>description</td>
                <td>Price</td>
                <td>options</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/products/n1.jpg" alt=""></td>
                <td>Cartoon Astronaut T-shirts</td>
                <td>$118.19</td>
                <td>
                        <button class="normal b1">-</button>
                        1
                        <button class="normal b2">+</button>
                </td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/products/n1.jpg" alt=""></td>
                <td>Cartoon Astronaut T-shirts</td>
                <td>$118.19</td>
                <td>
                        <button class="normal b1">-</button>
                        1
                        <button class="normal b2">+</button>
                </td>
                <td>$118.19</td>
            </tr>
            <tr>
                <td><a href=""><i class="far fa-times-circle"></i></a></td>
                <td><img src="/images/products/n1.jpg" alt=""></td>
                <td>Cartoon Astronaut T-shirts</td>
                <td>$118.19</td>
                <td>
                        <button class="normal b1">-</button>
                        1
                        <button class="normal b2">+</button>
                </td>
                <td>$118.19</td>
            </tr>
        </tbody>
    </table>
</section>