<section>
    <div>
        <form action="/admin/create-coupon" method="post" enctype="multipart/form-data">
        <label for="">coupon Name</label>
        <input type="text" name="Name" id="">
        <label for="">Discount %</label>
        <input type="number" name="Discount">
        <button type="submit">submit</button>
        </form>
    </div>
</section>