<link rel="stylesheet" href="/stylesheets/admin-page-style.css">
<link rel="stylesheet" href="/stylesheets/homepagestyle.css">

<style>
    a.normal {
        font-size: 23px;
        font-weight: 500;
        padding: 9px 8px;
        color: #000;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
        text-decoration: none;
    }

    a.b1 {
        background-color: rgb(56, 179, 19);
        padding: 9px 20px;
    }

    a.b2 {
        background-color: rgb(238, 18, 18);
    }

    #cart .head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .add {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }

    .add a {
        text-decoration: none;
        background-color: rgb(56, 179, 19);
        color: #000;
    }

    .add .normal {
        padding: 9px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    #cart table tbody tr:hover {
        background: #fff;
    }

    .mainhead {
    background: #fff;
    /* height: 500px; */
    width: 998px;
    height: 409px;
    margin: auto;
    margin-top: 30px;
    }

    section form .createcoupon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section form .createcoupon div {
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .createcoupon div label {
        font-size: 25px;
    }

    .createcoupon div input {
        margin: 8px;
        width: 600px;
        height: 45px;
        outline: none;
        padding: 5px;
        font-size: 21px;
        border: 1px solid;
    }

    .createcoupon button {
        background: green;
            width: 264px;
    margin-top: 14px;

        padding: 10px 0;
    font-size: 31px;
    font-weight: 500;
    }

@media (max-width:992px){
    .mainhead {
    background: #fff;
    /* height: 500px; */
    width: 100%;
    height: 409px;
    margin: auto;
    margin-top: 30px;
}
    .createcoupon div label {
    font-size: 18px;
}
    .createcoupon div input {
    margin: 8px;
    width: 329px;
    height: 45px;
    outline: none;
    padding: 5px;
    font-size: 17px;
    border: 1px solid;
}
}

@media (max-width: 499px){
    .mainhead {
    background: #fff;
    /* height: 500px; */
    width: 419px;
    height: 409px;
    margin: auto;
    margin-top: 30px;
}
    .createcoupon div label {
    font-size: 18px;
}
.createcoupon div input {
    margin: 8px;
    width: 192px;
    height: 46px;
    outline: none;
    padding: 5px;
    font-size: 14px;
    border: 1px solid;
}
}

</style>

<div class="container">
<div class="main">
    <div class="topbar">
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="search">
            <label for="">
                <input type="text" placeholder="Search Here">
                <i class="fa fa-search" aria-hidden="true"></i>
            </label>
        </div>
        <div class="user">
            <img src="/login-images/avatar2.svg" alt="">
        </div>
    </div>

    <section id="page-header" class="about-header">
        <h2>Create Coupon</h2>
    </section>

    <section>
        <div class="mainhead">
            <form action="/admin/create-coupon" method="post" enctype="multipart/form-data">
                <div class="createcoupon">
                    <div>
                        <label for="">Coupon Name :</label>
                        <input type="text" name="Name" id="" required>
                    </div>
                    <div>
                        <label for="">Coupon Code :</label>
                        <input type="text" name="Code" required>
                    </div>
                    <div>
                        <label for="">Discount rate :</label>
                        <input type="number" name="Discount" required>
                    </div>
                    <button type="submit" class="normal">submit</button>
                </div>
            </form>
        </div>
    </section>
</div>
</div>


<script>
    function toggleMenu() {
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');
        toggle.classList.toggle('active')
        navigation.classList.toggle('active')
        main.classList.toggle('active')
    }
</script>