<link rel="stylesheet" href="/stylesheets/admin-page-style.css">





<div class="navigation">
    <ul>
        <li>
            <a href="/admin">
                <span class="icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                <span class="title">
                    <h2>Admin Panel</h2>
                </span>
            </a>
        </li>
        <li>
            <a href="/admin">
                <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin/products-details">
                <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <span class="title">All Products</span>
            </a>
        </li>
        <li>
            <a href="/admin/users-details">
                <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
                <span class="title">All Users</span>
            </a>
        </li>
        <li>
            <a href="/admin/view-orders">
                <span class="icon"><i class="fa fa-comment" aria-hidden="true"></i></span>
                <span class="title">All Orders</span>
            </a>
        </li>
        <li>
            <a href="/admin/coupons">
                <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                <span class="title">Coupons</span>
            </a>
        </li>
        <li>
            <a href="/admin/view-categories">
                <span class="icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                <span class="title">Categories</span>
            </a>
        </li>
        <li>
            <a href="/admin/view-brands">
                <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <span class="title">Brands</span>
            </a>
        </li>
        <li>
            {{#if admin}}
            <a href="/admin/logout">
                <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                <span class="title">Log Out</span>
            </a>
            {{else}}
            <a href="/admin/login">
                <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                <span class="title">Log In</span>
            </a>
            {{/if}}
        </li>
    </ul>
</div>