<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/homepagestyle.css"> 
<style>
    #header a h4{
    font-size: 28px;
    color: #222;
    }
    .cart_badge{
        position: absolute;
        top: -19px;
        right: 0px;
        width: 24px;
        height: 24px;
        background: rgb(86 181 43);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .wish_badge{
        position: absolute;
        top: -19px;
        right: 0px;
        width: 24px;
        height: 24px;
        background: rgb(238, 72, 6);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
</style>


<header>
    <section id="header">
        <a href="/"><img src=""  class="logo" alt=""><h4 style="font-family: 'Lobster', cursive;">Smart Electra</h4></a>

        <div id="ac">
            <ul id="navbar">
                <li><a class="btn1" href="/">Home</a></li>
                <li><a class="btn1" href="/allProducts" >All Products</a></li>
                <li><a class="btn1" href="/newArrivals">New Arrivals</a></li>
                <li><a class="btn1" href="/about">About</a></li>
                <li><a class="btn1" href="/contact">Contact</a></li>
                <li id="lg-bag"><a class="btn1" href="/cart"><i class="far fa-shopping-bag"></i>
                <span  id="cart_count" class="cart_badge">{{cartCount}}</span></a></li>
                <li><a class="btn1" href="/search"><i class="far fa-search"></i></a></li>
                <li><a class="btn1" href="/wishlist"><i class="far fa-heart"></i>
                <span  id="wish_count" class="wish_badge">{{wishCount}}</span></a></li>
                <a href="" id="close"><i class="far fa-times"></i></a>

                {{#if user}}
                <li class="mt-1" id="order" style="display: none;"><a href="/view-orders">Orders</a></li>
                <li><a href="/profile">{{user.Name}}</a>
                    <ul class="dropdown" id="drop">
                        <li class="mt-1"><a href="/profile">Profile</a></li>
                        <li class="mt-1"><a href="/view-orders">Orders</a></li>
                        <li class="mt-1"><a href="/logout">Logout</a></li>
                    </ul>
                </li>
                <li class="mt-1" id="logout" style="display: none;"><a href="/logout">Logout</a></li>
                {{else}}
                <div class="dis">
                <li ><a class="act" href="/login">Login</a> / 
                <a class="act" href="signup">Register</a></li>
                </div>
                <li class="dis1"><a class="act" href="/login">Login</a></li>
                <li class="dis1"><a class="act" href="signup">Register</a></li>
                {{/if}}


                
            
            </ul>
        </div>
        <div id="mobile">
            {{!-- <a href=""><i class="far fa-shopping-bag"></i></a> --}}
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
</header>

<script>
    const currentLocation = location.href;
    console.log(currentLocation);
    const menuItem = document.querySelectorAll('a.btn1');
    console.log(menuItem);
    const menuLength = menuItem.length;
    console.log(menuLength);
    for(let i=0; i<menuLength; i++){
        if(menuItem[i].href===currentLocation){
            menuItem[i].className = "active"
        }
    }
</script>