<header>
    <section id="header">
        <a href="#"><img src=""  class="logo" alt=""><h4>Shopping Cart</h4></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="">Home</a></li>
                <li><a href="">All Products</a></li>
                <li><a href="">New Arrivals</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href=""><i class="far fa-shopping-bag"></i></a></li>
                <li><a href=""><i class="far fa-search"></i></a></li>
                <li><a href=""><i class="far fa-heart"></i></a></li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{#if user}}
                            {{user.Name}}
                            {{else}}
                            {{!-- <ul class="navbar-nav navbar-user">
                                <li class="nav-item"><a href=""><i class="fa fa-user" arial-hidden="true"></i></a></li>
                            </ul> --}}
                            Account
                            {{/if}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {{#if user}}
                            <a class="dropdown-item" href="/logout">Logout</a>
                            {{else}}
                            <a class="dropdown-item" href="/login">Login</a>
                            {{/if}}
                        </div>
                    </div>
                </li>
            
            </ul>
        </div>
    </section>
</header>