<header>
    <section id="header">
        <a href="#"><img src=""  class="logo" alt=""><h4>Shopping Cart</h4></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="">Home</a></li>
                <li><a href="">All Products</a></li>
                <li><a href="">New Arrivals</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li id="lg-bag"><a href=""><i class="far fa-shopping-bag"></i></a></li>
                <li><a href=""><i class="far fa-search"></i></a></li>
                <li><a href=""><i class="far fa-heart"></i></a></li>
                <a href="" id="close"><i class="far fa-times"></i></a>

                {{#if user}}
                <li><a href="">{{user.Name}}</a>
                    <ul class="dropdown">
                        <li class="mt-1"><a href="">Profile</a></li>
                        <li class="mt-1"><a href="">Orders</a></li>
                        <li class="mt-1"><a href="">Logout</a></li>
                    </ul>
                </li>
                {{else}}
                <div class="dis">
                <li ><a href="/login">Login</a> / 
                <a href="">Register</a></li>
                </div>
                <li class="dis1"><a href="/login">Login</a></li>
                <li class="dis1"><a href="">Register</a></li>
                {{/if}}


                
            
            </ul>
        </div>
        <div id="mobile">
            <a href=""><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
</header>