
.search {
    width: 90%;
    height: 73px;
    outline: none;
    font-size: 29px;
    padding: 0 23px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    margin-left: -158px;
}

button.searchbtn {
    margin: 0 11px;
    position: absolute;
    font-size: 29px;
    /* background: green; */
    width: 203px;
    border: 1px solid #cce7d0;
    height: 70px;
    border-radius: 18px;
    font-weight: 400;
}

.pro-container {
    padding-top: 50px;
}

 .outer {
    padding: 97px;
    width: 27%;
}

.outer h2{
   /* text-decoration: underline;
   text-decoration-color: red; */
   font-size: 30px;
   color: #111111;
   font-weight: 600;
   text-transform: uppercase;
   position: relative;
   display: inline-block;
}

.outer h2::after{
    
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 5px;
        width: 140px;
        background: #ca1515;
        content: "";
}

.genre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 75px;
}

.genre div {
    padding: 10px 0;
}

label {
    font-size: 30px;
}

.genre .check input {
    

    width: 45px;
    height: 25px;
    border: 1px solid red;
    background: red;
}



