.navbar-user{
    margin-left: 37px;
}
.navbar-user li{
    display: inline-block;
    text-align: center;
}
.navbar-user li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    color: #1e1e27;
    transition: color 0.3s ease;
}
.navbar-user li a:hover{
    color: #b5aec4;
}