@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

/* .section-p1 {
    padding: 40px 80px;
} */

.section-p1 {
    padding: 25px 40px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Header Start */

#header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    /*e3e6f3*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
}

header {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header h3{
    font-size: 30px;
    margin-left: -40px;
}

#header h3 a{
    text-decoration: none;
    color: #1a1a1a;
}

#header h3 a:hover{
    color: #088178;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li .active  {
    color: #088178;
}

/* #navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
} */


div ul li:hover .dropdown {
    top: 27px;
    opacity: 1;
    visibility: visible;
}

div ul li:last-child {
    margin-right: 0;
}

div ul li .dropdown {
    position: absolute;
    left: 0;
    top: 0;
    width: 156px;
    background: #e3e6f3;
    text-align: left;
    padding: 2px 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

div ul li .dropdown li {
    display: block;
    margin-right: 0;
}

div ul li .dropdown li a {
    padding: 8px 12px;
    text-transform: capitalize;
}

div ul li .dropdown li a:after {
    display: none;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

.dis {
    display: initial;
}

.dis1 {
    display: none;
}

/* Home Page */

#hero {
    background-image: url('/images/1.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    /*background-position: top 25% right 0;*/
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url('/images/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

/* #product1 .pro {
    width: 22%;
    height: 685px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
} */

#product1 .pro {
    width: 23%;
    height: 390px;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

/* #product1 .pro img {
    height: 70%;
    width: 100%;
    border-radius: 20px;
} */

/* #product1 .pro img {
    width: 90%;
    height: 80%;
    object-fit: cover;
} */

#product1 .pro img {
    width: 75%;
    height: 66%;
    object-fit: contain;
    margin-top: 17px;
}

#product1 .pro:hover .a{
    transform: scale(1.1);
}

/* #product1 .popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 50%;
    width: 50%;
    margin: 200px;
    z-index: 100;
    display: none;
}

#product1 .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

#product1 .popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
} */


#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25)
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    right: 10%;
    margin-right: 0;
    width: 7px;
}

.pro:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}

.overlay button{
    outline: none;
    border: none;
    background-color: #fff;
}

.overlay .fa {
    cursor: pointer;
    color: #088178;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-weight: 500;
    background-color: #fff;
    font-size: 15px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 5%;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/images/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background: #088178;
    color: #fff;
}

#newsletter {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #0f2a50;  /*#042757;*/
    /*background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;*/
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

footer {
    background: #cdd4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 1px 15px 1px;
}

footer .follow i:hover,
footer a:hover {
    text-decoration: none;
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Products Page */

#page-header {
    background-image: url('/images/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 6px 11px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* About Page */

#page-header.about-header {
    background-image: url('/images/banner.png');
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}


/* Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 15px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 40px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .cntimg {
    width: 55%;
    height: 400px;
}

#contact-details .cntimg img {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Cart Page */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) button {
    border: 2px solid #e2e9e1;
    padding: 3px 12px;
}

#cart table td:nth-child(5) .b1 {
    margin-right: 8px;
}

#cart table td:nth-child(5) .b2 {
    margin-left: 8px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal a {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal a{
    text-decoration: none;
    border-radius: 4px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}



/* Start Mediia Query */

@media (max-width:999px) {
 .overlay{
        opacity: 1;
        margin-left: 5%;
        transition: 0.5s;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 22px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    /* #lg-bag {
        display: none;
    } */

    .dis {
        display: none;
    }

    .dis1 {
        display: initial;
    }

    #hero {

        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #newsletter .form {
        width: 70%;
    }

    /* Contact Page */

    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }

    /* Cart Page */

    #coupon {
        margin-left: -30px;
    }

    #coupon input {
        padding: 10px 13px;
        width: 64%;
    }

    #subtotal {
        margin-right: -30px;
    }

    #product1 .popup-image img{
        width: 95%;
    }
}

@media (max-width: 499px) {
    .section-p1 {
        padding: 20px;
    }

    .dis {
        display: none;
    }

    .dis1 {
        display: initial;
    }

    #header {
        padding: 10px 30px;
    }

    #header h3 {
        margin-left: -9px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }


    /* Single Product */

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    #prodetails .single-pro-details input {
        width: 55px;
    }

    /* About Page */

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #feature {
        justify-content: space-between;
        margin: 12px;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 20px 0;
    }

    /* Contact Page */

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .cntimg {
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* Cart Page */

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
        margin-left: 0px;
    }

    #subtotal {
        width: 100%;
        margin-right: 0px;
        padding: 20px;
    }
}