/* main .account-page {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

main .account-page .profile {
    width: 30%;
}

main .account-page .account-detail {
    width: 60%;
}

main .account-page .profile .profile-detail {
    width: 140px;
    height: 160px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
    overflow: none;
}

main .account-page .profile .profile-detail img {
    width: 100%;
    height: 140px;
    border: 1px solid #eee;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #888888;
    object-fit: cover;
}

main .account-page .profile .profile-detail h3 {
    color: var(--darkStaleGray);
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 21px;
}

main .account-page .profile ul {
    list-style: none;
    padding: 10px;
}

main .account-page .profile ul li {
    margin-bottom: 5px;
}

main .account-page .profile ul li a {
    color: var(--darkStaleGray);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid rgba(236, 240, 241, 0.3);
    text-align: center;
    padding: 5px 8px;
    display: block;
    background: #e3e6f3;
}

main .account-page .profile ul li a span {
    float: right;
}

main .account-page .profile ul li .active,
main .account-page .profile ul li a:hover {
    background: #03a9f4;
    color: #fff;
} */


:root {
    --blue:#3498db;
    --dark-blue:#2980b9;
    --red:#e74c3c;
    --dark-red:#c0392b;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

* {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.btn,
.delete-btn {
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    color: var(--white);
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
}

.btn {
    background-color: var(--blue);
}

.btn:hover {
    background-color: var(--dark-blue);
}

.delete-btn {
    background-color: var(--red);
}

.delete-btn:hover {
    background-color: var(--dark-red);
}

.update-profile {
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.update-profile form {
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 700px;
    text-align: center;
    border-radius: 5px;
}

.update-profile form img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.update-profile form .flex {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 15px;
}

.update-profile form .flex .inputBox {
    width: 49%;
}

.update-profile form .flex .inputBox span {
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: var(--black);
}

.update-profile form .flex .inputBox .box {
    width: 100%;
    border-radius: 5px;
    background-color: var(--light-bg);
    padding: 12px 14px;
    font-size: 17px;
    color: var(--black);
    margin-top: 10px;
}

@media (max-width:650px) {
    .update-profile form .flex {
        flex-wrap: wrap;
        gap: 0;
    }

    .update-profile form .flex .inputBox {
        width: 100%;
    }
}