<section id="cart">
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Remove</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody> 
                  {{#each products}}
                <tr>
                    
                    <td><img style="width:70px ;height: 70px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
                    <td>{{this.Name}}</td>
                    <td>Rs.{{this.Price}}</td>
                    
                    <td>
                        <button style="" class="cart-item-count mr-3">-</button>
                        2
                        <button style="" class="cart-item-count ml-3" >+</button>
                    </td>
                    <td>
                        <a href="" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                
                {{/each}}
            </tbody> 
        </table>
        <hr>
        {{!-- <div class="float-right pr-5">
        <h3 class="float-right mr-5">Total: Rs.100000</h3><br>
        <a href="/place-order" class="btn btn-success mt-3" style="width:100% ;"><b>Place Order</b></a>
        </div> --}}
        <section id="cart-add">
            <div id="coupon">
                <h3>Apply Coupon</h3>
                <div>
                    <input type="text" placeholder="Enter Your Coupon">
                    <button class="btn">Apply</button>
                </div>
            </div>

            <div id="subtotal">
                <h3>Cart Totals</h3>
                <table>
                    <tr>
                        <td>Cart SubTotal</td>
                        <td>10000</td>
                    </tr>
                    <tr>
                        <td>shipping</td>
                        <td>free</td>
                    </tr>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong>10000</strong></td>
                    </tr>
                </table>
                <button class="btn ">Proceed to checkout</button>
            </div>
        </section>
    </div>
</section>