<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" href="/stylesheets/profile-page-style.css">
{{!-- <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script> --}}

<style>
    .update-profile form .flex .inputBox {
    width: 100%;
}

.update-profile form .flex {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 0px;
}
 #error {
    background-color: red;
    margin: 0 132px;
    font-size: 21px;
    color: #fff;
    padding: 8px;
    display: none;
}
</style>

<div class="update-profile">
    <form id="form" action="/change-password" method="post" enctype="multipart/form-data">
        <div class="flex">
            <div class="inputBox">
                {{!-- <p id="error">Confirm Password Error!!!</p> --}}
                <span>Old Password :</span>
                <input type="password" name="old_password" placeholder="enter previous password" class="box">
                <span>NewPassword :</span>
                <input id="pwd" type="password" name="new_password" placeholder="enter new password" class="box">
                <span>Confirm Password :</span>
                <input id="cpwd" type="password" name="password_confirm" placeholder="confirm new password" class="box">
            </div>
            <div id="showerrorpwd"></div>
            <button type="submit"  class="btn">submit</button>
        <a href="/profile" class="delete-btn">go back</a>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
 $('#cpwd').keyup(function(){
            var pwd = $('#pwd').val();
            var cpwd = $('#cpwd').val();
            if(cpwd!=pwd){
                $('#showerrorpwd').html('**password are not matching');
                $('#showerrorpwd').css('color','red');
                $('#showerrorpwd').css('text-align','left');
                $('#showerrorpwd').css('padding','10px');
                
                  $("#form").submit((e) => {
                  e.preventDefault()
                  })
                
            }else{
                $('#showerrorpwd').html('');
                
                $("#form").submit((e) => {
                    $.ajax({
            url: '/change-password',
            method: 'post',
            data: $('#form').serialize(),
            {{!-- success: (response) => {
                alert(response)
                if(response.codSuccess){
                    location.href = '/order-success'
                }else{
                    razorpayPayment(response)
                } 
            }--}}
        })
                })
                  
                
                
            }
        });
    })


</script>
