<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" href="/stylesheets/profile-page-style.css">
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>

<style>
    .update-profile form .flex .inputBox {
    width: 100%;
}

.update-profile form .flex {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 0px;
}
 #error {
    background-color: red;
    margin: 0 132px;
    font-size: 21px;
    color: #fff;
    padding: 8px;
    display: none;
}
</style>

<div class="update-profile">
    <form id="form" action="/change-password" method="post" enctype="multipart/form-data">
        <div class="flex">
            <div class="inputBox">
                {{!-- <p id="error">Confirm Password Error!!!</p> --}}
                <span>Old Password :</span>
                <input type="password" name="old_password" placeholder="enter previous password" class="box">
                <span>NewPassword :</span>
                <input id="password" type="password" name="new_password" placeholder="enter new password" class="box">
                <span>Confirm Password :</span>
                <input  type="password" name="password_confirm" placeholder="confirm new password" class="box">
            </div>
            <button type="submit"  class="btn">submit</button>
        <a href="/profile" class="delete-btn">go back</a>
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        $("#form").validate({
             rules : {
        new_password : {
            minilength : 5
        },
        password_confirm : {
            minilength : 5,
            equalTo : "#password"
        }
    }
        })
    })


</script>

{{!-- <script>
    $('#form').submit(function (){
        var id1 = $('#id1').text();
        var id2 = $('#id2').text();
        if(id1 != id2) {
            {{!-- document.getElementById(error).display=block; --}}
            {{!-- document.querySelector('#error').style.removeProperty("display") --}}
            $("#error").css({display : "inline"})
            return false;
        }else{
            return true;
        }
    })
</script> --}}