<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<style>
    .empty{
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .empty h1{
        margin: 25px 0px;
    }

    a.normal {
        font-size: 16px;
        font-weight: 500;
        padding: 9px 8px;
        color: #fff;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: 0.2s;
        text-decoration: none;
    }

    a.b1 {
        background-color: rgb(56, 179, 19);
        padding: 9px 20px;
    }

    
</style>


<section id="page-header" class="about-header">
    <h2>My Cart</h2>
    {{!-- <p>LEAVE A MESSAGE,We love to hear from you!</p> --}}
</section>
<div class="empty">
    <h1>Empty Cart</h1>
    <a href="/" class="normal b1">Continue Shopping</a>
</div>