<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" href="/stylesheets/profile-page-style.css">

<div class="update-profile">
    <form action="" method="post" enctype="multipart/form-data">
      <img src="/login-images/avatar2.svg" alt="">
        <div class="flex">
            <div class="inputBox">
                <span>Username :</span>
                <input type="text" name="" value="Eby234" class="box" >
                <span>Full Name :</span>
                <input type="text" name="" value="Ebin Yesudas" class="box" >
                <span>Email Address :</span>
                <input type="email" name="" value="ebinyesudas234@gmail.com" class="box">
                <span>Mobile No :</span>
                <input type="number" name="" value="9895574237" class="box">
            </div>
            <div class="inputBox">
                <input type="hidden" name="" id="">
                <span>Address :</span>
                <input type="text" name="" value="Koilparambil" class="box">
                <span>State :</span>
                <input type="text" name="" value="Kerala" class="box">
                <span>District :</span>
                <input type="text" name="" value="Alappuzha" class="box">
                <span>Pin Code :</span>
                <input type="number" name="" value="688004" class="box" >
                
            </div>
        </div>
        <input type="submit" value="edit Profile" class="btn">
        {{!-- <a href="" class="delete-btn">go back</a> --}}
    </form>
</div>