<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" href="/stylesheets/profile-page-style.css">

{{!-- <div>
    <main>
        <div class="account-page">
            <div class="profile">
                <div class="profile-detail">
                    <img src="/login-images/avatar2.svg" alt="">
                    <h3>Ebin Yesudas</h3>
                    <p>ebinyesudas234@gmail.com</p>
                </div>
                <ul>
                    <li><a href="" class="active">Acount <span>></span></a></li>
                    <li><a href="">Change Password <span>></span></a></li>
                    <li><a href="">Billing Details <span>></span></a></li>
                    <li><a href="">My Orders <span>></span></a></li>
                    <li><a href="">Delete Acount <span>></span></a></li>
                    <li><a href="">Logout <span>></span></a></li>
                </ul>
            </div>
            <div class="account-detail">
                <h2>Account</h2>

            </div>
        </div>
    </main>
</div> --}}



<div class="update-profile">
    <form action="" method="post" enctype="multipart/form-data">
      <img src="/login-images/avatar2.svg" alt="">
        <div class="flex">
            <div class="inputBox">
                <span>Username :</span>
                <input type="text" name="" value="" class="box">
                <span>Your Email :</span>
                <input type="text" name="" value="" class="box">
                <span>Update Your Pic :</span>
                <input type="file" name="" value="" class="box">
            </div>
            <div class="inputBox">
                <input type="hidden" name="" id="">
                <span>Old Password :</span>
                <input type="password" name="" placeholder="enter previous password" class="box">
                <span>NewPassword :</span>
                <input type="password" name="" placeholder="enter new password" class="box">
                <span>Confirm Password :</span>
                <input type="password" name="" placeholder="confirm new password" class="box">
                
            </div>
        </div>
        <input type="submit" value="update Profile" class="btn">
        <a href="" class="delete-btn">go back</a>
    </form>
</div>