<link rel="stylesheet" href="/stylesheets/homepagestyle.css">
<link rel="stylesheet" href="/stylesheets/profile-page-style.css">


<style>

    .update-profile form .file span {
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 17px;
    color: var(--black);
}


    .update-profile form .file .box {
    width: 100%;
    border-radius: 5px;
    background-color: var(--light-bg);
    padding: 12px 14px;
    font-size: 17px;
    color: var(--black);
    margin-top: 10px;
}
</style>



<div class="update-profile">
    <form action="" method="post" enctype="multipart/form-data">
      <img src="/login-images/avatar2.svg" alt="">
        <div class="flex">
            <div class="inputBox">
                <span>Full Name :</span>
                <input type="text" name="" value="bin" class="box" >
                <span>Your Email :</span>
                <input type="text" name="" value="" class="box">
                <span>Address :</span>
                <input type="text" name="" value="Koilparambil" class="box">
                
                <span>Pin Code :</span>
                <input type="number" name="" value="688004" class="box" >
                
            </div>
            <div class="inputBox">
                <span>Username :</span>
                <input type="text" name="" value="Eby234" class="box" >
                <span>Mobile No :</span>
                <input type="number" name="" value="9895574237" class="box">
                <span>State :</span>
                <input type="text" name="" value="Kerala" class="box">
                <span>District :</span>
                <input type="text" name="" value="Alappuzha" class="box">
                <input type="hidden" name="" id="">
                
            </div>
        </div>
        <div class="file">
                <span>Update Your Pic :</span>
                <input type="file" name="" value="" class="box">
            </div>
        <input type="submit" value="update Profile" class="btn">
        <a href="/profile" class="delete-btn">go back</a>
    </form>
</div>